/* Header Navigation */

/* vars for color palete */
:root {
  --cyberPunk-yellow: #FFD300;
  --cyberpunk-black: #050505;
  --cyberpunk-white: #E0FFFF;
  --cyberpuk-purple: #7C4DFF;
  --cyberpunk-darkGrey: #2c2c38;
  --cyberpunk-cyan: #15A3C7;
  --cyberpunk-blue: #0313A6;
  --dark-yellow: rgb(212, 212, 13);
  --dark-blue: #1d0152;
  --cyberpunk-pink: #FF2079;
}
    button {
        border: none;
    }

    button:hover {
    background-color: var(--cyberpunk-blue);
}

    .bag-container{
        position: relative;
        display: inline-block;
    }

/* Header Section*/
  main {
    background-color: #1d0152;
  }

  #mainContainer{
    height: fit-content;
    width: 100dw;
  }

  #mainNavigation{
    padding: 10px;
    color: #E0FFFF;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
  }
  

.mainButton {
    margin: 10px;
    padding: 10px;
    width: fit-content;
    height: fit-content;
    font-size: 50px;
    border-radius: 5px;
    color: #E0FFFF;
    background-color: #15A3C7;
}

.mainButton:hover {
    transform: translateY(-5px);
}

.menuTitle{
    margin-left: 50px;
    justify-content: flex-start;
    display: flex;
    padding: 10px;
    font-size: 40px;
    color: #FF2079;
}

.menuSubtitle{
    margin-left: 50px;
    justify-content: flex-start;
    display: flex;
    padding: 10px;
    font-size: 30px;
    color:#FF2079;
}

.menuContainer{
    max-width: 100vw;
}

#breakfastEntree, #breakfastDrink, #breakfastDesserts, #lunchEntree, #LunchDrink, #LunchDesserts, #dinnerEntree, #dinnerDrink, #dinnerDesserts{
    justify-content: space-around;
    flex-wrap: wrap;
    display: flex;
    padding: 25px;
    margin: 10px 20px 10px 20px;
    gap: 25px;
    background-color: #7C4DFF;
    border-radius: 10px;
}

.product-card { 
   background: var(--cyberpunk-darkGrey); 
   padding: 20px; 
   color: var(--cyberpunk-white);
   max-width: 350px; 
   width: 250px;
   border-radius: 10px;
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
} 
        
.product-icon {
   display: block;
   margin: 0 auto 15px;
   background: #f9f9f9;
   border: 5px solid #FF2079;
   width: 10rem;
   height: 10rem;
   object-fit: cover;
   border-radius: 10px;
}
      
.bag-container {
  position: relative;
  display: inline-block;
}

.cart-count { 
  position: absolute; 
  bottom: -8px; 
  right: -8px; 
  background-color: #e74c3c; 
  color: #fff; 
  width: 25px; 
  height: 25px; 
  border-radius: 50%; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  font-size: 15px; 
}
.cartLogo{
    min-width: 20px;
    max-width: 50px;
}

.product-badge {
  background: #e74c3c;
  color: #fff;
  padding: 4px 8px;
  font-size: 10px;
  margin-bottom: 10px;
}
        
.product-category {
    color: #999;
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 5px;
}
        
.product-name {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}
        
        .product-description {
            color: #666;
            font-size: 14px;
            line-height: 1.5;
            min-height: 45px;
            max-height: 45px;
        }
        
.product-price {
    font-size: 24px;
    font-weight: bold;
    color: #e74c3c;
    justify-content: center;
    display: flex;
    margin-bottom: 15px;
    align-items: baseline;
}

        .product-button {
            /* background-color: #29a603; */
            border: none;
            border-radius: 5px;
            padding: 5px;
            align-items: baseline;
        }

        .product-button:hover {
    
    transform: translateY(-5px);
    color: #E0FFFF;
}


.product-footer{
    margin-top: 0.25rem;
    align-items: flex-end;
}
/* Footer */