/* vars for color palete */
:root {
  --cyberPunk-yellow: #FFD300;
  --cyberpunk-black: #050505;
  --cyberpunk-white: #E0FFFF;
  --cyberpuk-purple: #7C4DFF;
  --cyberpunk-darkGrey: #2c2c38;
  --cyberpunk-cyan: #15A3C7;
  --cyberpunk-blue: #0313A6;
  --dark-yellow: rgb(212, 212, 13);
  --dark-blue: #1d0152;
  --cyberpunk-pink: #FF2079;
}

footer{
  background-color: var(--dark-blue);
  color: var(--cyberpunk-pink);
  font-size: x-large;
}

.hiddenByDefualt{
  display: none;

}

#aboutUs{
  margin-bottom: 1.5rem;
  font-size: xxx-large;
}

#FAQheader{
  color: var(--cyberpunk-white);
  font-size: xxx-large;
}

#aboutMeBio{
  display: none;
}

.faqPromptContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

 .aboutUsPrompt{
  display: flex;
  flex-direction: row;
  justify-content: space-between;}

.questionFaqContainter, #aboutUs{
  display: flex;
  flex-direction: column;
  margin-left: 3rem;
  margin-right: 3rem;
}

.questionFaqContainter{
  gap: 0.8rem;
}

.questionAnsDiv, #aboutMeBio{
  font-size: large;
  font-family: 'Times New Roman', Times, serif;
  color: var(--cyberpunk-white);
}

#interactiveDiv{
  padding: 1rem;
  gap: 1rem;

}

.dropdownButton{
  border: none;
  background-color: transparent;
  font-size: x-large;
  color: white;
}

.dropdownButton:hover{
  color: var(--cyberpunk-pink);
  font-size: xx-large;
}