
@import url('https://fonts.googleapis.com/css2?family=Iceberg&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    max-width: 100dvw;
    font-family: "Iceberg", sans-serif;
    font-weight: 600;
    font-style: normal;
    max-width: 100dvw;
}

/* vars for color palete */
:root {
  --cyberPunk-yellow: #FFD300;
  --cyberpunk-black: #050505;
  --cyberpunk-white: #E0FFFF;
  --cyberpuk-purple: #7C4DFF;
  --cyberpunk-darkGrey: #2c2c38;
  --cyberpunk-cyan: #15A3C7;
  --cyberpunk-blue: #0313A6;
}